APP_NAME=Smart School FastAPI
API_PREFIX=/api
SECRET_KEY=change-this-secret-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=480
SQLSERVER_CONNECTION_STRING=mssql+pyodbc://@./SmartSchoolDB?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes
